﻿@model IEnumerable<ToDoList.Models.ToDo>


<table id="todo" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.IsDone)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                <div class="CompletedTask">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                }

            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "active" })
            </td>
            <td>
                <a href="javascript:;" role="button" data-customer-id="@item.Id" data-original-title="Remove" data-placement="top" class="btn btn-xs btn-red js-delete tooltips"><i class="fa fa-times fa fa-white"></i></a>
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {

        $('.active').change(function () {

            var self = $(this);
            var id = self.attr('id');
            var value = self.prop('checked');

            $.ajax({
                url: "/ToDoes/AjaxEdit",
                data: {
                    id: id,
                    value: value
                },
                type: "POST",
                success: function (result) {
                    $("#myDiv").html(result);
                }
            });
        });

        $("#todo").on("click",
            ".js-delete",
            function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this task?",
                    function (result) {
                        $.ajax({
                            url: "/ToDoes/Delete/" + button.attr("data-customer-id"),
                            type: 'GET',
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            cache: false,
                            success: () => {
                                button.parents("tr").remove();
                            }
                        });
                    });
            });
    });
</script>