﻿@model ToDoList.Models.ToDo

@{
    ViewBag.Title = "Index";
}

<h2>Task Lists</h2>

<div id="myDiv"></div>
<div id="createToDoList">
    @using (Ajax.BeginForm("AjaxCreate", "ToDoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "myDiv"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Add Description then enter"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
<br />

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/ToDoes/RenderPartialToDoTable",
                success: function (result) {
                    $("#myDiv").html(result);
                }
            });
        });
    </script>

} 